
@import url(https://fonts.googleapis.com/css?family=Raleway);
body{
    transition: background-color 0.5s ease;
    margin: auto;
    font-family: 'Raleway';
    }  
.container{
    padding: 40px;
}
h5{
    margin: 20px;
}
.button-icon{
   min-width: 40px;
}

